snippet bash-opts "Add bash shell options for script" b
set -o errexit
set -o nounset
set -o pipefail
[[ -n "${TRACE+x}" ]] && set -o xtrace
endsnippet

snippet sh-vars "Magic shell variables" b
_SCRIPT_DIR="$(cd -P -- "$(dirname -- "\$0")" && pwd -P)"
_SCRIPT_PATH="${_DIR}/$(basename "\$0")"
_BASENAME="$(basename "${_FILE}" .sh)"
_ROOT_PATH="$(cd -P -- "$(dirname -- "${_DIR}")" && pwd -P)" # <-- change "${_DIR}" as it depends on your app

arg1="\${1:-}"
endsnippet
