snippet bash-opts "Add bash shell options for script" b
set -o errexit
set -o nounset
set -o pipefail
[[ -n "${XTRACE:+x}" ]] && set -o xtrace
[[ -n "${DEBUG:-}" ]] && IS_DEBUG=true || IS_DEBUG=false
endsnippet

snippet sh-vars "Magic shell variables" b
readonly SCRIPT_DIR="$(cd -P -- "$(dirname -- "\$0")" && pwd -P)"
readonly SCRIPT_BASENAME="$(basename "\$0")"
readonly SCRIPT_PATH="${SCRIPT_DIR}/$SCRIPT_BASENAME"

readonly ARGS="$@"
readonly ARG1="\${1:-}"
endsnippet
