snippet bash-opts "Add bash shell options for script" b
set -o errexit
set -o nounset
set -o pipefail
[[ -n "${TRACE+x}" ]] && set -o xtrace
endsnippet

snippet sh-vars "Magic shell variables" b
readonly _SCRIPT_DIR="$(cd -P -- "$(dirname -- "\$0")" && pwd -P)"
readonly _SCRIPT_PATH="${_DIR}/$(basename "\$0")"
readonly _SCRIPT_BASENAME="$(basename "${_SCRIPT_PATH}" .sh)"

readonly arg1="\${1:-}"
endsnippet
