snippet @gmail "My gmail address"
adoyle.h@gmail.com
endsnippet

snippet @163 "My 163 mail address"
adoyle@163.com
endsnippet

snippet @github "My Github homepage"
https://github.com/adoyle-h
endsnippet

snippet @author "My signature"
ADoyle <adoyle.h@gmail.com>
endsnippet
