snippet shabang "Add bash shabang" b
#!/usr/bin/env ${1:bash}
# shellcheck disable=${2:SC1090}

${0}
endsnippet

snippet undefined "undefined" w
undefined
endsnippet

snippet uml "PlantUML"
@startuml
${0}
@enduml
endsnippet
